<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="abbyyReader" class="de.unigoettingen.sub.convert.impl.abbyyxml.AbbyyXMLReader"/>
	<!-- add more beans of type ConvertReader -->
	
	<bean id="teiWriter" class="de.unigoettingen.sub.convert.impl.CustomTeiP5Writer"/>
	<bean id="pdfWriter" class="de.unigoettingen.sub.convert.impl.PDFWriter"/>
	<bean id="epubWriter" class="de.unigoettingen.sub.convert.impl.EPUBWriter"/>
	<bean id="htmlWriter" class="de.unigoettingen.sub.convert.impl.HTMLWriter"/>
	<!-- add more beans of type ConvertWriter -->

	<bean id="converter" class="de.unigoettingen.sub.convert.cli.Converter">
		<property name="readers">
			<map>
				<entry key="abbyyxml">
					<ref local="abbyyReader"/>
				</entry>
				<!-- add more reader entries -->
			</map>
		</property>
		<property name="writers">
			<map>
				<entry key="tei">
					<ref local="teiWriter"/>
				</entry>
				<entry key="pdf">
					<ref local="pdfWriter"/>
				</entry>
				<entry key="epub">
					<ref local="epubWriter"/>
				</entry>
				<entry key="html">
					<ref local="htmlWriter"/>
				</entry>
				<!-- add more writer entries -->
			</map>
		</property>
	</bean>


</beans>